html,
body,
#root,
.body-wrap {
    height: 100%;
}
a {
    text-decoration: none;
    color: #222;
}
a:hover {
    font-weight: 600;
    color: #ba2929;
}
.body-wrap {
    display: flex;
    flex-direction: column;
}
.content-wrap {
    flex: 1;
    display: flex;
    justify-content: center;
}
.nav-wrap {
    padding: 20px;
}
.login-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    font-size: 14px;
    cursor: pointer;
}
.logo {
    display: flex;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
}
.menu {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-list ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.search {
    align-self: flex-end;
    display: flex;
    align-items: center;
    margin-top: -20px;
}
@media (max-width: 1000px) {
    .search {
        margin-top: 20px;
        align-self: center;
    }
}

.search input {
    margin-left: 4px;
    border: 0;
    border-bottom: 1px solid;
}

.product {
    margin-bottom: 50px;
    font-size: 14px;
    cursor: pointer;
}

.product img {
    margin-bottom: 10px;
}

.product {
    transition: all 0.2s linear;
}

.product:hover {
    transform: scale(1.05);
}

.product-detail-img {
    display: flex;
    justify-content: flex-end;
}

.product-detail-img img {
    width: 430px;
    object-fit: contain;
}

.dropdown-menu {
    --bs-dropdown-min-width: 105px;
}

.mobile-menu,
.close-menu {
    display: none;
}

.login-box {
    max-width: 500px;
}
@media (max-width: 766px) {
    .product-detail-img {
        justify-content: center;
    }
    .product-detail-info {
        margin: 10px 0 30px;
        text-align: center;
    }
}

@media (max-width: 575px) {
    .menu-list {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 200px;
        height: 100vh;
        padding: 20px;
        background-color: lightgray;
        z-index: 2;
    }
    .menu-list ul {
        flex-direction: column;
    }
    .mobile-menu {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
    }
    .close-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .logo {
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: -25px;
    }
}
