html,
body,
#root,
.body-wrap {
    height: 100%;
}
a {
    text-decoration: none;
    color: #222;
}
a:hover {
    font-weight: 600;
    color: #ba2929;
}
.body-wrap {
    display: flex;
    flex-direction: column;
}
.content-wrap {
    flex: 1;
    display: flex;
    justify-content: center;
}
.nav-wrap {
    padding: 20px;
}
.login-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    font-size: 14px;
}
.logo {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.menu {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    padding-left: 0;
    margin: 0;
}

.search {
    align-self: flex-end;
    display: flex;
    align-items: center;
    margin-top: -20px;
}
@media (max-width: 1000px) {
    .search {
        margin-top: 20px;
        align-self: center;
    }
}

.search input {
    margin-left: 4px;
    border: 0;
    border-bottom: 1px solid;
}

.product {
    margin-bottom: 50px;
    font-size: 14px;
    cursor: pointer;
}

.product img {
    margin-bottom: 10px;
}

.product {
    transition: all 0.2s linear;
}

.product:hover {
    transform: scale(1.05);
}
